<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.raphets.demorealm">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DogListActivity" />
        <activity android:name=".activity.QueryActivity" />
        <activity android:name=".activity.AllDogActivity" />
        <activity android:name=".activity.ConditionQueryActivity" />
        <activity android:name=".activity.UpdateActivity" />
        <activity android:name=".activity.OtherQueryActivity" />
        <activity android:name=".async.AsyncActivity" />
        <activity android:name=".async.AddDeleteActivity" />
        <activity android:name=".async.AsyncQueryActivity" />
        <activity android:name=".async.UpdateCatActivity"></activity>
    </application>

</manifest>